.todayForecast {
  text-align: center;

  &__items {
    padding-top: 2.4rem;

    &-info {
      width: 8.5rem;
    }
  }
}

.ant-typography {
  font-size: 4.6rem;
}

.ant-tag {
  font-size: 2rem;
  border-radius: 1.6rem;

  margin-right: 0;
  padding: 0.6rem 1rem;
}
