@import "~antd/dist/antd.css";

.app {
  .ant-typography {
    color: var(--text-color-white);
  }

  .ant-tag {
    color: var(--text-color-white);
    background-color: var(--background-color-tag-gray);
    border: none;
  }

  .ant-card {
    background: none;
  }

  .ant-card-body {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .ant-list-item {
    border-bottom: none;
  }
}
