@import "~antd/dist/antd.css";
@import "../assets/styles/index.scss";

.app {
  .ant-typography {
    color: $white;
  }

  .ant-tag {
    color: $white;
    background-color: $grayBackgroundTag;
    border: none;
  }

  .ant-card {
    background: none;
  }

  .ant-card-body {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .ant-list-item {
    border-bottom: none;
  }
}
