@import "../../../assets/styles/";

.listItem {
  &__icon {
    &-visibility {
      display: none;
    }

    &-delete {
      color: red;
      margin-left: 1.2rem;
    }
  }

  &__input {
    display: flex;

    // &-time {
    //   width: 8rem;
    // }
    &-text {
      width: 15rem;
    }
  }
}

.ant-typography {
  font-size: 2rem;
}

.ant-tag {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.6rem;
}
