@import "../../assets/styles/vars.scss";

.header {
  background-color: $grayBackgroundContainer;
  padding: 16px;

  &__search {
    text-align: left;
  }

  &__itemsCenter {
    text-align: center;
  }

  &__itemsRight {
    text-align: right;
  }
}
