@import "./reset.scss";
@import "./vars.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #434554;
  // background-color: rgba(67, 69, 84, 0.8);
  // vertical-align: middle;
  // top: 40%;
  // position: relative;
}
