$white: #ffffff;
$grayBackgroundContainer: rgba(67, 69, 84, 0.6);
$grayBackgroundTag: #2e3041;

:root {
  --background-image-clear: url("../images/clear.jpg");
  --background-image-clouds: url("../images/clouds.jpg");
  --background-image-fog: url("../images/fog.jpg");
  --background-image-drizzle: url("../images/drizzle.jpg");
  --background-image-rain: url("../images/rain.jpg");
  --background-image-thunder: url("../images/thunder.jpg");
  --background-image-thunder: url("../images/thunder.jpg");
  --background-image-snow: url("../images/snow.jpg");
}
